<<<<<<< HEAD
.lineshaddow{
<<<<<<< HEAD
<<<<<<< HEAD

     box-shadow:0px 1px 25px #383838;
     
=======
     box-shadow:0px 1px 25px #383838;    
>>>>>>> fe201bac931d8953bdf62186974190ff7f3afc7e
     height: 100px;
}

.navbar-color {
    background-color:#FFFFFF !important;
    height: 75px;
    font-size: 150%; 
    border:none;
}
.nav>li>a{
    margin-left: 100px;
    margin-right: 100px;
}

.left_rcorners4 {
    position: absolute;
    border-radius: 20px 0px 0px 20px;
    background: #000000;
    padding: 20px; 
    width: 200px;
    height: 75px;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 90%;
    color: white;
    line-height: 100px;
}
.right_rcorners4 {
    position: absolute;
    border-radius: 0px 20px 20px 0px;
    background: #A81818;
    padding: 20px; 
    width: 150px;
    height: 75px;
    margin-top: 10px;
    margin-left: 250px;
    font-size: 90%;
    color: white;
}
.logo{
    position: left;
    margin-left: 30px;
    padding-top: 14px;
}

.logo img{
    height: 70px;
}

.right_rcorners4>h1{
    margin: 0px;
}

.left_rcorners4>h1{
    margin: 0px;
}

.Loggpå_plassering_Og_Farge{
    position: inherit;
    margin-top: 7%;
    color: black;
}

ul{
    margin: 0;
}
=======
     box-shadow:0px 1px 25px #383838;
     
     height: 100px;
      }
=======
.header{
    box-shadow:0px 1px 25px #383838;    
    height: 100px;
    background-color:#FFFFFF !important;
}
>>>>>>> 499fe177e03ad2c2cf04ff0d8f1f98b9a70e5d76

.logo{
    float: left;
    margin-left: 30px;
    padding-top: 14px;
    width: 100px;
}
.logo img{
    height: 70px;
}

<<<<<<< HEAD
    .right_rcorners4>h1{
        margin: 0px;
    }

    .left_rcorners4>h1{
        margin: 0px;
    }

    .Loggpå_plassering_Og_Farge{
        position: inherit;
        margin-top: 7%;
        color: black;
    }
     ul{
         margin: 0;
     }
>>>>>>> 191ea149c07ffd8da5c6015c8e38d7cd9b68701e
=======
.loggin{
    float: right;
    margin-right: 30px;
    padding-top: 40px;
    width: 120px;
    font-size: 140%;
}
>>>>>>> 499fe177e03ad2c2cf04ff0d8f1f98b9a70e5d76
