.header{
     box-shadow:0px 1px 25px #383838;    
     height: 100px;
     background-color:#FFFFFF !important;

}

.logo{
    position: left;
    margin-left: 30px;
    padding-top: 14px;
    width: 100px;
}
.logo img{
    height: 70px;
}

.loggin{
    position: right;
    margin-left: 30px;
    padding-top: 14px;
    width: 100px;
}
