<div class="col-md-2 col-sm-12">
<div class="menydiv">
        <nav class="navigation">
            <ul class="mainmenu">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/dokumenter">
                        <i class="fa fa-arrow-right"></i>
                        <i class="fa fa-folder-open-o"></i> Mine dokumenter</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/deltmedmeg">
                        <i class="fa fa-arrow-right"></i>
                        <i class="fa fa-users"></i>Delt med meg</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/nylige">
                        <i class="fa fa-arrow-right"></i>
                        <i class="fa fa-clock-o"></i>Nylige</a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/sikkerhetskopier">
                        <i class="fa fa-arrow-right"></i>
                        <i class="fa fa-cloud"></i>Sikkerhetskopier</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
