

.buttonstyle {
	margin: 10px;	
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 2px 2px 3px #666;
	width: 60%;
	color: white;
	background:#023054;
}
.drop_fil_plassering:hover{
	background-color: rgb(207, 207, 207);
}

.drop_fil_plassering {
	
	text-align:center;
	padding: 12%;
	margin: 7% 20% 7% 20%;
	border: 2px dashed #929292;
		
  }


 .row{
	 margin-right: 0px;
     margin-left: 0px;
 }
.backimg{
	background-image: url(../../assets/tegning.jpg);
	margin-top: 5%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
 
