

.buttonstyle {
	margin: 10px;	
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 2px 2px 3px #666;
	width: 60%;
	color: white;
	background: red;
}

.drop_fil_plassering {
	text-align:center;
	padding: 12%;
	margin: 7% 20% 7% 20%;
	border: 2px dashed #000000;
	border-radius: 20px;	
  }

  .stitched {
	
 }
 .row{
	 margin-right: 0px;
     margin-left: 0px;
 }
 