<div class="dokumenter-full">

  <h4>Alle signerte dokumenter</h4>

  <div class="dokumentvisning">
    <div class="dokument">
      <div class="dokument-forhandvisning">
          <img src="assets\img\kontrakt2thumb.jpg" height="200">
      </div>  
      <div class="dokument-navn">
          <img src="assets\img\pdf2.png" height="30">  dokument1.pdf
      </div>
    </div>
    <div class="dokument">
      <div class="dokument-forhandvisning">
          <img src="assets\img\kontrakt2thumb.jpg" height="200">
      </div>  
      <div class="dokument-navn">
          <img src="assets\img\pdf2.png" height="30">  dokument2.pdf
      </div>
    </div>
    <div class="dokument">
      <div class="dokument-forhandvisning">
          <img src="assets\img\kontrakt2thumb.jpg" height="200">
      </div>  
      <div class="dokument-navn">
          <img src="assets\img\pdf2.png" height="30">  dokument3.pdf
      </div>
    </div>
    <div class="dokument">
      <div class="dokument-forhandvisning">
        <img src="assets\img\kontrakt2thumb.jpg" height="200">
      </div>  
      <div class="dokument-navn">
          <img src="assets\img\pdf2.png" height="30">  dokument4.pdf
      </div>
    </div>
  </div>
</div>