<div class="dokumenter-full">

  <h4>Alle signerte dokumenter</h4>

  <div class="dokumentvisning">
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
    <app-dokument></app-dokument>
  </div>
</div>
