.dokumenter-full{
    height: 100%;
    width: 79%;
    float: right;
    margin-top:20px;
}

.dokumentvisning{
    height: 100%;
    width: 95%;
    margin-left: 30px;
    background-color: #012f53; 
    overflow:auto;
    border-radius: 5px;
}