<div class="menydiv">
    <nav class="navigation">
        <ul class="mainmenu">
            <li class="menybilde"><a href="">Mine dokumenter</a></li>
            <li class="deltbilde"><a href="">Delt med meg</a></li>
            <li class="nyligebilde"><a href="">Nylige</a></li>
            
        </ul>
    </nav>
    <hr/>
        <nav class="sikkerhetsdiv">   
            <ul class="sikkerhetsuli"> 
                <li class="sikkerhet"><a href="">Sikkerhetskopier</a></li>   
            </ul>   
        </nav>
    <hr/>

</div>