.menydiv {
    width: 20%;
    height:100%;
    margin-top: 20px;
    margin-left: 5px;
    float:left;
    
}

.navigation {
    width: 300px;
  }


.mainmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left:23%;
  }

  .mainmenu a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #000;
  }

  .mainmenu a:hover {
    background-color: #C5C5C5;
}

li:hover{
    display: block;
    max-height: 200px;
  }


  li.menybilde {
    background-image: url('~/assets/img/dokumenter.png');
    background-repeat: no-repeat; 
    background-position: 0% 10px;
    padding: 3px 3px 3px 25px;   
  }

  li.menybilde:hover {
    background-color: #C5C5C5;
  }

  li.deltbilde {
    background-image: url('~/assets/img/deltmedmeg.png');
    background-repeat: no-repeat; 
    background-position: 0% 10px;
    padding: 3px 3px 3px 25px;   
  }

  li.deltbilde:hover {
    background-color: #C5C5C5;
  }

  li.nyligebilde {
    background-image: url('~/assets/img/nylige.png');
    background-repeat: no-repeat; 
    background-position: 0% 10px;
    padding: 3px 3px 3px 25px;   
  }
  li.nyligebilde:hover {
    background-color: #C5C5C5;  
  }

  li.sikkerhet {
    background-image: url('~/assets/img/sikkerhet.png');
    background-repeat: no-repeat; 
    background-position: 0% 10px;
    padding: 3px 3px 3px 25px;   
  }
  li.sikkerhet:hover {
    background-color: #C5C5C5;  
  }

  hr {
    margin-top:1px !important;
    margin-bottom: 1px !important;
    display: block;
    border-top: 1px solid #000 !important;
   
 
}
.sikkerhetsdiv {
    width: 300px;
}
.sikkerhetsuli { 
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left:23%;
}

.sikkerhetsuli a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #000;
  }

  .sikkerhetsuli a:hover {
    background-color: #C5C5C5;
}
