.menydiv {
    width: 20%;
    height:100%;
    margin-top: 20px;
    margin-left: 0px;
    float:left;
    
}

.navigation {
    width: 250px;
  }


.mainmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left:0%;
  }

  .mainmenu a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #000;
  }
  .mainmenu a:hover {
    text-decoration:none;
  }
  .mainmenu li {
    padding-left:12%;
    background-position: 65px 10px;
    background-repeat: no-repeat; 
  }

  .mainmenu li:hover {
    background-color: #C5C5C5;
}

  .mainmenu li:last-child {
    margin-top:40px;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
   
  }

  .mainmenu li a i:first-child {
    color:white;
  }

  .mainmenu li.active a i:first-child, 
  .mainmenu li.active:hover a i:first-child  {
    color:#003056;
  }

  .mainmenu li.active a i:last-child, 
  .mainmenu li.active:hover a i:last-child  {
    color:#003056;
  }

  .mainmenu li:hover a i:first-child {
    color:#C5C5C5;
  }

li:hover{
    display: block;
    max-height: 200px;
  }


.fa {
  padding-right: 5px;
  font-size:20px;
}






